@import "~bootstrap-css-only";
@import "assets/css/angello.css";
@import "assets/css/animations.css";
@import "assets/css/normalize.css";

/*TEMP*/
h1 {
  padding-top: 80px;
  text-align: center;
  color: whitesmoke;
}
